.container {
            display: flex;
            font-family: 'Montserrat';
            font-size: 1em;
            font-weight: 700;
            height: 49em;
            width: 101em;
            margin: 5em auto;
            background-color: hsl(236deg 86% 94%);
            box-shadow: 1em 1em 1em 1em #e6e6e6;
            justify-content: center;
            align-items: center;
            padding-top: 10em;
            position: relative;
        }


        .item {

            padding: 1em;
            flex-basis: 25em;
            z-index: 1;
            display: flex;
            flex-direction: column;
            color: #585757;
        }

        #item-1 {

            border-top-left-radius: 1em;

            border-bottom-left-radius: 1em;

            background-color: #fff;

            height: 32em;
        }

        #item-2 {

            background-color: #7c94e8;
            height: 38em;
            border-radius: 1em;
            color: #f5f5f5;
        }

        #item-3 {


            height: 32em;
            background-color: #fff;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;

        }

        .img-1 {
            position: absolute;
            left: 0em;
            bottom: 0em;
        }

        .img-2 {
            position: absolute;
            right: 0em;
            top: 0em;
        }

        #plan {
            margin: 1em auto;
        }

        #dollar {
            font-size: 5em;
            margin: 0.25em auto;
            margin-top: 0em;
            font-weight: bolder;
            color: #353131;
        }

        #dollarPro {
            font-size: 5em;
            margin: 0.32em auto;
            margin-top: 0em;
            font-weight: bolder;
            color: #f5f5f5;
        }

        .info {
            margin: 0em auto;
            border-top: 0.05em solid #c7c7c7;
            padding: 0.9em 2em;
        }

        .infoPro {
            margin: 0px auto;
            border-top: 1px solid #abb7ff;
            padding: 0.9em 3em;
        }

        #line {
            border-bottom: 0.05em solid #c7c7c7;
        }

        #linePro {
            border-bottom: 0.05em solid #abb7ff;
        }

        .sideButtons,
        .middleButton {
            font-family: 'Montserrat';
            font-weight: 700;
            background-color: #7c94e8;
            padding: 1em;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1em;
            border-radius: 0.5em;
            margin: 1.4em 1.4em;
            color: #ffffff;
        }

        .sideButtons:hover {
            color: #f5f5f5;
            background-color: #2742a3;
        }

        #headline {
            padding: 0.9em 3.8em;
        }

        #planPro {
            margin: 1em auto;
            margin-top: 2.8em;
        }

        .middleButton {
            background-color: #ffffff;
            color: #728be9;
        }

        .middleButton:hover {
            color: #2742a3;
            background-color: #f5f5f5;
        }

        .ContentHead {

            position: absolute;
            top: 2em;
            color: #585757;
        }

        .contentBox {
            position: absolute;
            top: 107px;
            width: 60em;
            display: flex;
            justify-content: center;
            color: #6d6262;
        }

        .budgetPlans {
            margin: 0.5em;
        }

        .toggle {
            position: relative;
            display: inline-block;
            width: 4em;
            height: 1.9em;
            background-color: #7c94e8;
            border-radius: 2em;
            cursor: pointer;
        }

        .toggle:after {
            content: '';
            position: absolute;
            width: 1.8em;
            height: 1.8em;
            border-radius: 50%;
            background-color: #f5f5f5;
            top: 0.01em;
            left: 0.01em;
            transition: all 0.5s;
        }

        .checkbox:checked+.toggle::after {
            left: 2.2em;
        }

        .checkbox:checked+.toggle {
            background-color: #7c94e8;
        }

        .checkbox {
            display: none;
        }